# Individual Guided Project Week 4

In [1]:
#import and lias pandas as np and numpy as np
import pandas as pd
import numpy as np

## Step 1: Creating a DataFrame from a list of dictionaries

In [2]:
#sample dataset consisting of a list of dictionaries
data = [{'product_id':23,'name':'computer','wholesale_price':500,'retail_price':1000,'sales':100},
       {'product_id':96,'name':'python_workout','wholesale_price':35,'retail_price':75,'sales':1000},
       {'product_id':97,'name':'pandas_workout','wholesale_price':35,'retail_price':75,'sales':500},
       {'product_id':15,'name':'banana','wholesale_price':0.5,'retail_price':1,'sales':200},
       {'product_id':87,'name':'sandwich','wholesale_price':3,'retail_price':5,'sales':300}]

In [4]:
#creating a dataframe from the data
sales_data = pd.DataFrame(data)
sales_data

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  python_workout             35.0            75   1000
2          97  pandas_workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

## Step 2: Calculate total profit for each product using the formula;
> net_revenue_per_product = (retail_price - wholesale_price)* sales

In [9]:
# creating a net revenue column
sales_data['net_revenue'] = (sales_data['retail_price'] - sales_data['wholesale_price']) * sales_data['sales']

# calculating net product for each product
net_revenue_per_product = sales_data.groupby('name')['net_revenue'].sum().reset_index()
print(net_revenue_per_product)

             name  net_revenue
0          banana        100.0
1        computer      50000.0
2  pandas_workout      20000.0
3  python_workout      40000.0
4        sandwich        600.0

## Step 3: Determine the following

### [i]: Total Revenue from all sales

In [15]:
#calculating total revenue from all sales
total_revenue = sum(sales_data['net_revenue'])
print(f'The total revenue from all sales was: {total_revenue:,}')

The total revenue from all sales was: $110,700.0

### [ii]: Product whose retail price is more than twice its wholesale price

In [19]:
# determining products whose retail price is more than twice the wholesale price
sales_data.loc[sales_data['retail_price'] > 2 * sales_data['wholesale_price']]

,product_id,name,wholesale_price,retail_price,sales,net_revenue
1,96,python_workout,35.0,75,1000,40000.0
2,97,pandas_workout,35.0,75,500,20000.0

### [iii]: How much the store made from food vs. computer vs. books

In [38]:
# determining food revenue vs. computer revenue vs books revenue

# Define a function to categorize products
def categorize_product(name):
  if name in ['banana', 'sandwich']:
    return 'food'
  elif name in ['python_workout', 'pandas_workout']:
    return 'book'
  else:
    return 'computer'

# Add a new column called 'category'
sales_data['category'] = sales_data['name'].apply(categorize_product)

#filter products by categories and find their total revenues

filtered_food = sales_data[sales_data['category'] == 'food']
food_revenue = filtered_food['net_revenue'].sum()

filtered_book = sales_data[sales_data['category'] == 'book']
book_revenue = filtered_book['net_revenue'].sum()

filtered_computer = sales_data[sales_data['category'] == 'computer']
computer_revenue = filtered_computer['net_revenue'].sum()

print(f'The store made {food_revenue:,} Food Revenue Vs. {computer_revenue:,} Computer Revenue Vs. {book_revenue:,} Book Revenue')

The store made 700.0 Food Revenue Vs. 50,000.0 Computer Revenue Vs. 60,000.0 Book Revenue

### [iv]: New net revenue after a 30% discount on wholesale price

In [44]:
#calculate new net revenue after a 30% discount on wholesale price

sales_data['new_net_revenue'] =(sales_data['retail_price'] - ((sales_data['wholesale_price'])*0.7))*sales_data['sales']
new_total_net_revenue =sum(sales_data['new_net_revenue'])
print(f'The new total net revenue after a 30% discount on wholesale prices is: {new_total_net_revenue:,}')

The new total net revenue after a 30% discount on wholesale prices is: 141,750.0

### [v]: Tax deductions at various tax percentages

In [58]:
#Renaming the new_net_revenue column to current_revenue
sales_data.rename(columns={'new_net_revenue': 'current_revenue'}, inplace=True)

#adding new columns to the dataframe to calculate new net revenues after the various tax %s
sales_data['net_rev_after_15%tax'] = .85 * sales_data['current_revenue']

sales_data['net_rev_after_20%tax'] = .8 * sales_data['current_revenue']

sales_data['net_rev_after_25%tax'] = .75 * sales_data['current_revenue']

#net tax deductions at various %s
tax_15per_deductions = sum(sales_data['current_revenue'] - sales_data['net_rev_after_15%tax'])

tax_20per_deductions = sum(sales_data['current_revenue'] - sales_data['net_rev_after_20%tax'])

tax_25per_deductions = sum(sales_data['current_revenue'] - sales_data['net_rev_after_25%tax'])

print(f'the store would net {tax_15per_deductions:,} less at a 15% tax rate \n the store would net {tax_20per_deductions:,} less at a 20% tax rate \n the store would net {tax_25per_deductions:,} less at a 25% tax rate')

the store would net 21,262.5 less at a 15% tax rate
 the store would net 28,350.0 less at a 20% tax rate
 the store would net 35,437.5 less at a 25% tax rate